<div>
  <h2 class="single" itemprop="headline"><b>Vui giáng sinh không quên ưu đãi</b></h2>
</div>

<p style="text-align:justify; font-family:'Times New Roman', Times, serif;font-size:20px">
💫 Trong không khí giáng sinh rộn rang đang đến, 
H&B Spa xin gửi tới quý khách hàng phiên bản thẻ mệnh giá Giới hạn với giá chỉ 3.500.000 vnđ để sử dụng tất cả các dịch vụ 
Chăm sóc Mặt và Cơ thể.<br><br>
<img src="../../assets/promotion5.png" style="width: 600px; height:300px" ><br><br><br>

🎁Không chỉ với mệnh giá tiết kiệm hơn, 
quý khách hàng sẽ có cơ hội được tặng ngay quà tặng trị giá 2.100.000 vnđ tương ứng với 3 buổi dưỡng 
Quang Tuyến cao cấp (Mỗi buổi trị giá 700k).<br>
</p>
