.single{
    font-weight: 600 !important;
    color:#3cc943 !important;
    font-style: bold;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-top:100px;
    font-size: 40px;
}
