agm-map {
    height: 300px;
}

#myContact p {
    font-size: 15px;
}

#myContact .list-footer-nav {
    background-color: #9d9d9d2a;
}

#myContact img {
    width: 100px;
    height: 70px;
    display: inline-block;
    padding-right: 30px;
}

.footer-nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    width: 300px;
}
