<div>
  <h2 class="single" itemprop="headline"><b>RẠNG NGỜI ĐÓN TẾT</b></h2>
</div>

<h2 style="text-align:center;">
  <span style="font-size:24px; font-family:'Times New Roman', Times, serif">
    <p><br><br><b>💚 TẾT NÀY HÃY ĐỂ H&B SPA CÙNG BẠN VUI XUÂN RẠNG NGỜI 💚</b></p>
  </span>
</h2>
<p style="text-align:justify; font-family:'Times New Roman', Times, serif;font-size:20px">
  ✅ Ưu đãi Đồng giá cho khách hàng mua 2 dịch vụ trở lên

  Cùng H&B Spa tạm biệt cuối năm một cách thật đặc biệt trong tháng 12 này. Mua càng nhiều, giá càng ưu đãi.
  
  Với dịch vụ đa dạng, phong cách phục vụ chuyên nghiệp, chúng tôi sẽ xua tan những mệt mỏi, căng thẳng và tận hưởng

  những phút giây thư giãn thoải mái để đón một năm mới với một làn da rạng ngời cùng body săn chắc.<br><br>
    <img src="../../assets/promotion13.png" style="width: 500px; height:300px; text-align:center"><br>

    🎁 <b>Cơn lốc giảm giá cuối năm</b><br>
    🌟🌟 Tắm trắng: 750.000 VNĐ<br>
    🌟🌟Dưỡng trắng da mặt: 450.000 VNĐ <br>
    🌟🌟Tiêu mỡ bụng: 300.000 VNĐ <br>
    ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨<br>
  ✅ GIẢM 40% cho các dịch vụ: Triệt lông, Trị mụn, Thâm, Nám<br><br>
  
  ✅ Giảm 20% - 30% cho các dịch vụ khác.<br><br>
  
  🌷 Hãy đến với H&B Spa để Tết này rạng ngời phơi phới nhé! 🌷<br><br>
</p>
