<div>
  <h2 class="single" itemprop="headline"><b>BUSY CARD - Thư giãn theo cách bận rộn </b></h2>
</div>

<h2 style="text-align:center;">
  <span style="font-size:24px; font-family:'Times New Roman', Times, serif">
    <p><br><br><b>⚠️⚠️Chỉ với 250k (giá gốc 700k) sử dụng bộ đôi dịch vụ massage mặt + body với thẻ Busy Card⚠️⚠️</b></p>
  </span>
</h2>

<p style="text-align:justify; font-family:'Times New Roman', Times, serif;font-size:20px">
💫 Với sự bận rộn trong cả công việc lẫn gia đình hiện nay, 
nhiều chị em thường không có thời gian để chăm sóc hay thư giãn cho bản thân đầy đủ nhất. 
Biết được những khó khăn về thời gian của chị em, 
H&B Spa ra mắt thẻ Busy Card với giá chỉ 250k (giá gốc 700k)<br><br><br>
<img src="../../assets/promotion4.png" style="width: 300px; height:210px" ><br><br><br>
🎁 Với mỗi thẻ Busy Card giá 250k, chị em được sử dụng một bài massage mặt và body trong khoảng thời gian 70’. 
Cụ thể, bài massage bao gồm Chăm sóc mặt chuyên sâu bằng công nghệ quang phổ kết hợp ủ mặt nạ ánh sáng sinh học giúp tăng cường sức đề kháng cho da, 
giúp tinh chất thẩm thấu được tốt hơn. Ngoài ra bạn còn được thư giãn tuyệt đối với bài massage cổ vai gáy và chân cùng đá nóng giúp đánh tan đau mỏi<br><br>
⚡⚡ Điều kiện sử dụng thẻ:<br>

Khách hàng được trải nghiệm 1 buổi giá ưu đãi 250.000 vnđ khi đăng kí tại website H&B Spa<br>
Thẻ Busy Card chỉ được áp dụng tại Quận 1, TP Hồ Chí Minh
</p>

