<!-- <img src="../../assets/back.jpg" style="width: 100%; height:100%;" /> -->
<!-- <div style="text-align: center">
    <h3>Về chúng tôi</h3>
    <p>
        H&B Spa là địa chỉ làm đẹp và thư giãn đáng tin cậy với công nghệ và các chuyên gia hàng đầu về thẩm
        mĩ, thuận tiện cho khách hàng lui tới thăm khám và trải nghiệm dịch vụ.
    </p>
</div> -->
<!-- 
<div id="Subheader" style="width:100%;">
    <h1 class="title"><b>GIỚI THIỆU</b></h1>
</div>
<table width="100%" style="text-align:center;">
    <tr class="Spa">
        <td width="50%">
            <p>Dịch vụ Spa làm đẹp</p>
        </td>
        <td width="50%">
            <p>Dịch vụ Massage</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="../../assets/aboutus1.jpg" style="width: 500px; height:300px; " />
        </td>
        <td>
            <img src="../../assets/aboutus2.jpg" style="width: 500px; height:300px;" />
        </td>
    </tr>
    <tr>
        <td class="Spa1">
            <p>
                Với nhiều năm kinh nghiệm trong ngành làm đẹp, được công nhận là Thương hiệu chăm sóc sắc đẹp đẳng cấp
                Việt Nam,
                điểm mạnh của Dịch vụ H&B là mang đến cho quý khách hiệu quả vượt trội trong điều trị,
                chỉnh sửa những khuyết điểm trên làn da bằng cách kết hợp giữa công nghệ máy móc hiện đại và dòng mỹ
                phẩm cao cấp,
                cùng đội ngũ nhân viên chuyên nghiệp được đào tạo tại Viện Huấn Luyện Dermalogica Hoa Kỳ
            </p>
        </td>
        <td class="Spa1">
            <p>
                Đến với H&B Spa, bạn sẽ có những trải nghiệm hoàn toàn khác,
                bạn sẽ được trải nghiệm dịch vụ xông hơi thải độc tố trong cơ thể,
                đưa cơ thể vào trạng thải thoải mái nhất sản sàng đón nhận tinh chất tốt
                cho làn da của bạn và giúp cơ thể hạn chế tái phát
                vào nhưng lần sau cũng như thời gian điều trị nhanh hơn
            </p>
        </td>
    </tr>
</table>  -->
<div style="margin:20px 0px 50px 0px; margin-top: 67px !important;">
  <div class="row justify-content-center" style="padding-top: 40px">
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-bottom" src="assets/aboutus1.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                  <h4 class="card-title" style="text-align: center">Dịch vụ làm đẹp</h4>
                  <p class="card-text">Với nhiều năm kinh nghiệm trong ngành làm đẹp, dịch vụ H&B là mang đến cho quý
                      khách hiệu quả
                      vượt trội trong điều trị, chỉnh sửa những khuyết điểm trên làn da bằng cách kết hợp giữa công
                      nghệ máy móc hiện đại và
                      dòng mỹ phẩm cao cấp, cùng đội ngũ nhân viên chuyên nghiệp
                  </p>

              </div>

          </div>
      </div>

      <div class="col-md-4">

          <div class="card">
              <img class="card-img-bottom" src="assets/aboutus2.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                  <h4 class="card-title" style="text-align: center">Dịch vụ Massage</h4>
                  <p class="card-text">Đến với H&B Spa, bạn sẽ có những trải nghiệm hoàn toàn khác,
                      bạn sẽ được trải nghiệm dịch vụ xông hơi thải độc tố trong cơ thể,
                      đưa cơ thể vào trạng thải thoải mái nhất sản sàng đón nhận tinh chất tốt
                      cho làn da của bạn và giúp cơ thể hạn chế tái phát
                      vào nhưng lần sau cũng như thời gian điều trị nhanh hơn
                  </p>

              </div>

          </div>
      </div>
  </div>
</div>
<!-- 

<div style="position:relative;"><i class="fas fa-ellipsis-h"></i></div>

<div>
  <div class="icon">
      <i class="far fa-eye"></i>
  </div>
  <div class="icon">
      <i class="far fa-heart"></i>
  </div>
  <div class="icon">
      <i class="far fa-check-circle"></i>
  </div>
  <div class="icon">
      <i class="far fa-star"></i>
  </div>
</div>

<table style="margin-top:70px">
  <tr class="ear">
      <td>
          <p>TẦM NHÌN</p>
      </td>

      <td>
          <p>SỨ MỆNH</p>
      </td>

      <td>
          <p>GIÁ TRỊ CỐT LÕI</p>
      </td>

      <td>
          <p>TRIẾT LÍ VĂN HÓA</p>
      </td>
  </tr>
  <tr>
      <td>
          <p>
              Trở thành thương hiệu Spa hàng đầu trong ngành làm đẹp cùng với chuỗi hệ thống Spa,
              trường đào tạo nghề Spa trên toàn quốc,
              góp phần vào sự phát triển Spa Việt NamNam hội nhập Spa thế giới.
          </p>
      </td>
      <td>
          <p>
              Phục vụ tận tâm, thỏa mãn nhu cầu khách hàng và làm hài lòng tất cả khách hàng khó tính nhất.
              Cam kết mang đến cho khách hàng các dịch vụ, sản phẩm chất lượng cao an toàn và hiệu quả.
          </p>
      </td>
      <td>
          <p>
              Công nghệ hiện đại - Dòng mỹ phẩm cao cấp - Đội ngũ nhân viên kỹ
              thuật cao là giá trị cốt lõi nhất xuyên suốt trong quá trình nghiên cứu,
              xây dựng và phát triển hệ thống Spa và trường đào tạo nghề Spa
          </p>
      </td>
      <td>
          <p>
              Hành động nhanh và dứt khoát.
              Thái độ ân cần chu đáo. Làm việc chăm chỉ và hiệu quả.
              Vui vẻ thân thiện hỗ trợ và giúp đỡ đồng nghiệp.
              Tươi cười thân thiện, tận tâm, chu đáo đối với khách hàng và đối tác.
          </p>
      </td>
  </tr>
</table>  -->


<div class="row" style="padding-bottom: 50px">
  <div class="col-md-3">
      <div class="card">
          <img class="card-img-top" src="../../assets/eye.svg">
          <div class="card-body">
              <h4 class="card-title" style="text-align: center">TẦM NHÌN</h4>
              <p class="card-text">Trở thành thương hiệu Spa hàng đầu trong ngành làm đẹp cùng với chuỗi hệ thống
                  Spa, trường đào tạo nghề Spa trên toàn quốc, góp phần vào sự phát triển Spa Việt Nam hội nhập Spa
                  thế giới.
              </p>

          </div>

      </div>
  </div>

  <div class="col-md-3">
      <div class="card">
          <img class="card-img-top" src="../../assets/startup.svg">
          <div class="card-body">
              <h4 class="card-title" style="text-align: center">SỨ MỆNH</h4>
              <p class="card-text"> Phục vụ tận tâm, thỏa mãn nhu cầu khách hàng và làm hài lòng tất cả khách hàng
                  khó tính nhất.
                  Cam kết mang đến cho khách hàng các dịch vụ, sản phẩm chất lượng cao an toàn và hiệu quả.
              </p>

          </div>

      </div>
  </div>

  <div class="col-md-3">
      <div class="card">
          <img class="card-img-top" src="../../assets/success.svg">
          <div class="card-body">
              <h4 class="card-title" style="text-align: center">GIÁ TRỊ CỐT LÕI</h4>
              <p class="card-text">
                  Công nghệ hiện đại - Dòng mỹ phẩm cao cấp - Đội ngũ nhân viên kỹ
                  thuật cao là giá trị cốt lõi nhất xuyên suốt trong quá trình nghiên cứu,
                  xây dựng và phát triển hệ thống Spa và trường đào tạo nghề Spa.
              </p>

          </div>

      </div>
  </div>

  <div class="col-md-3">
      <div class="card">
          <img class="card-img-top" src="../../assets/medal.svg">
          <div class="card-body">
              <h4 class="card-title" style="text-align: center">TRIẾT LÍ VĂN HÓA</h4>
              <p class="card-text">
                  Hành động nhanh và dứt khoát.
                  Thái độ ân cần chu đáo. Làm việc chăm chỉ và hiệu quả.
                  Vui vẻ thân thiện hỗ trợ và giúp đỡ đồng nghiệp.
                  Tươi cười thân thiện, tận tâm, chu đáo đối với khách hàng và đối tác.
              </p>

          </div>

      </div>
  </div>
</div>
