<!-- <a class="scroll-to-top visible" href="#home"><i class="glyphicon glyphicon-chevron-up"></i></a>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid nopadding">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div id="HEADER">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLinkActive="active" routerLink="/home">Trang chủ</a></li>
                        <li>
                            <div class="dropdown">
                                <a routerLinkActive="active" routerLink="/room"><button class="dropbtn">Dropdown <i class="glyphicon glyphicon-chevron-down icon-size"></i></button></a>
                                <div class="dropdown-content">
                                    <a href="#">A</a>
                                    <a href="#">B</a>
                                    <a href="#">C</a>
                                </div>
                            </div>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/contact">Liên hệ</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <a><button class="dropbtn">Tài khoản <i class="glyphicon glyphicon-chevron-down icon-size"></i></button></a>
                        <div class="dropdown-content">
                            <a routerLinkActive="active" routerLink="/profile">Thông tin</a>
                            <a><button onclick="document.getElementById('login').style.display='block'" style="width:auto; padding: 0px; border: 0px; background: transparent;">
                                    Đăng nhập</button></a>
                            <a><button onclick="document.getElementById('login').style.display='block'" style="width:auto; padding: 0px; border: 0px; background: transparent;">
                                    Đăng kí</button></a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 1px solid #1976d2">
        <a class="navbar-brand" href="#" style="color:#1976d2; font-weight: 500;font-size: 20px">H&B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#aboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales">Khuyến mãi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/outlet">Chi nhánh</a>
              </li>
          </ul>
        </div>
    
        <div class="btn-group col justify-content-end">
          <a style="margin-right: 20px;padding-top: 4px;" href="#" data-toggle="modal" data-target="#signInModal">
            Đăng nhập
          </a>
    
          <a style="margin-right: 10px;padding-top: 4px;" href="#" data-toggle="modal" data-target="#signUpModal">
            Đăng ký
          </a>
        </div>
      </nav>