<div id="invoice" [hidden]="disableList1" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Massage Thụy Điển </h2>
	<br>Tế bào gốc Dr Dermic là gì?Massage Thụy Điển là loại phổ biến và nổi tiếng nhất của massage ở phương Tây. Loại
	hình massage này đang được phổ biến ở hầu hết các quốc gia trên thế giới, có rất nhiều chương trình đào tạo Massage
	Thuỵ điển tại khắp các trường đào tạo massage nổi tiếng trên thế giới. Nếu bạn cần phải lựa chọn một bài massage nào
	đó cho lần đi massage đầu tiên của mình tại spa, thì massage Thuỵ điển là lựa chọn hoàn hảo nhất cho bạn, bởi vì nó
	khá nhẹ nhàng, hoàn toàn không gây đau đơn, đem lại cảm giác hết sức thư giãn và dễ chịu cho toàn bộ cơ thể bạn.
	<br>Massage Thụy Điển và các loại khác của massage trị liệu khác dựa trên nền tảng massage Thuỵ điển, đều sẽ được thực
	hiện bởi các kỹ thuật viên đã được huấn luyện và đào tạo bài bản,ngoài ra các kĩ thuật viên này còn phải được cấp phép
	hành nghề trị liệu massage.
	<br>Massage Thụy Điển được dựa trên các khái niệm phương Tây về giải phẫu và sinh lý, trái ngược với việc sử dụng kiến
	thức về “năng lượng” và “khí” của hệ thống massage tại các nước Phương đông như Trung quốc, Nhật bản, Thái lan, Ấn độ.
	Hầu hết mọi người sử dụng một massage Thụy Điển hoặc Deep tissue với thời gian 50 hoặc 60-phút, nhưng để làm việc theo
	mô cơ và đạt được kết quả cho trị liệu cần nhiều thời gian hơn: 75 hoặc 90 phút .

	<img src="/assets/tre_hoa_da.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;">
	<br><b>Massage Thụy Điển được thực hiện như thế nào:</b>
	<br>Bước 1: Bạn thường bắt đầu bằng cách nằm úp mặt xuống ô tròn khoét trên giường massage được thiết kế đặc biệt, do
	đó, cột sống của bạn vẫn được giữ trong trạng thái thẳng, đặc biệt là vùng cột sống cổ. Kỹ thuật viên thường bắt đầu
	trị liệu bằng cách sử dụng các động tác massage bao gồm xoa, bóp, vuốt, nhấn…
	<br>Bước 2: Trong tất cả các bài massage Thụy Điển, kĩ thuật viên sẽ làm trơn da của khác hàng bằng dầu massage, thực
	hiện các động tác massage giúp cơ thể ấm lên, miết các đường cơ, giải phóng căng thẳng và phá vỡ các điểm co cứng tồn
	tại trong hệ thống cơ bắp toàn thân. Massage Thụy Điển thúc đẩy thư giãn, giúp giảm bớt căng cơ và có ích cho sức
	khỏe.

	<br>Bước 3: Trước khi xoa bóp, kĩ thuật viên sẽ hỏi bạn về bất kỳ thương tích hoặc các vấn đề khác mà người đó nên
	biết. Những điều bạn cần nói với người kĩ thuật viên làkhu vực đau thắt hoặc đau, dị ứng, hay như thời kỳ mang thai.
	Bạn cũng có thể nói cho họ biết là mức độ ánh sáng hoặc mùi hương hoặc âm nhạc mà bạn yêu thích để kĩ thuật viên có
	thể đáp ứng tối đa nhu cầu thư giãn của bạn.
	<br>Bước 4: Sau khi tham vấn, kĩ thuật viên sẽ hướng dẫn bạn làm thế nào để nằm trên giường – ngửa mặt lên hoặc úp mặt
	xuống, phủ khăn hoặc tấm đắp lên người, người kĩ thuật viên sẽ xin phép trước khi chạm vào cơ thể của bạn.
	<br>Bước 5: Trong những trường hợp cơ thể bạn cần được chăm sóc kĩ lưỡng ở một bộ phận nào đó, ví dụ bạn đang bị đau
	đầu, đau mỏi cổ vai gáy hay đau vùng thắt lưng, thì bạn có thể yêu cầu kĩ thuật viên chăm sóc kĩ hơn những vùng này.
	Một số spa cũng đã đưa các dịch vụ chăm sóc riêng từng bộ phận trên cơ thể vào trong menu, vì thế bạn hoàn toàn có thể
	chọn lựa thêm các bài massage phù hợp với nhu cầu bàn thân.
	<br>Bước 6: Các chi phí của một massage Thụy Điển sẽ khác nhau, tùy thuộc vào việc bạn đi đến day spa, hotel spa,…
	hoặc đi massage . Giá massage Thụy Điển cũng sẽ phụ thuộc vào đất nước bạn sống và sự sang trọng của các spa
	<br>
	<button class="btn"><a href="/service">Xem cái dịch vụ khác</a></button>
</div>


<div id="invoice" [hidden]="disableList2" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Massage Thái</h2>
	Tế bào gốc Dr Dermic là gì?
	<br>Massage Thái là dịch vụ massage được nhiều người lựa chọn để điều trị các bệnh đau nhức, hoặc hỗ trợ quá trình
	điều trị các bệnh thần kinh tọa, đau đầu, đau lưng,… vậy vì đâu mà Massage Thái thật sự trở nên hiệu quả như vậy?
	<br>Massage Thái kết hợp các động tác trong bộ môn Yoga, các huyệt đạo theo y học cổ truyền Trung Quốc. các động tác
	massage tác động lên các huyệt đạo chính của cơ thể, vì vậy mà massage Thái thực sự hiệu quả và được khách hàng tin
	dùng lựa chọn.
	<br>- Công nghệ được Hiệp Hội FDA (Hoa Kỳ) kiểm định và xác nhận về độ an toàn cũng như hiệu quả cao.
	<br>- Là công nghệ giúp trẻ hóa da mà không xâm hại đến da, không phẫu thuật.

	<img src="/assets/tre_hoa_da.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;">
	<br><b>Massage Thái mang lại 3 hiệu quả chính sau:</b>
	<br>Giúp giảm căng thẳng và mệt mỏi: nếu như các loại massage khác tập trung tác động vào cơ và khớp thì massage Thái
	lại tác động trực tiếp và các huyệt đạo bằng các động tác ép, ấn, căng, gập… sẽ giúp lưu thông tuần hoàn máu và bạch
	huyết.
	<br>Giúp cơ thể khỏe mạnh hơn: massage Thái tác động vào 10 mạch chính chạy khắp cơ thể gọi là các mạch sen giúp cơ
	thể thư thái và khỏe mạnh hơn.
	<br>Cân bằng lại cơ thể và tăng cường sức đề kháng cho cơ thể: các động tác massage đặc biệt trong loại hình massage
	Thái sẽ tác động làm loại bỏ tắc nghẽn trong các kinh mạch và hỗ trợ lưu thông tuần hoàn kinh mạch.

</div>

<div id="invoice" [hidden]="disableList3" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Massage đá nóng</h2>
	<br>Massage đá nóng đem đến nhiều lợi ích thiết thực không chỉ về điều trị (giảm đau lưng, nhức mỏi, tăng cường lưu
	thông tuần hoàn máu cải thiện sức khỏe…) mà còn về mặt tinh thần (làm thư giãn, giảm chứng trầm cảm, mất ngủ). Vì vậy
	hiện nay massage đá nóng rất được ưa chuộng tại các Spa.
	<br>Massage đá nóng là gì và được thực hiện như thế nào mà có thể mang lại nhiều công dụng như vậy? Hãy cùng tìm hiểu
	với chuyên gia Viên Mỹ
	<img src="/assets/tre_hoa_da.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;">
	<br><b>Massage đá nóng mang lại hiệu quả chính sau:</b>
	<br>Massage đá nóng là cách chuyên viên kết hợp giữa kỹ thuật massage và những viên đá núi lửa được hấp nóng để mang
	đến một lực tác động rất mạnh mẽ lên các cơ, huyệt đạo. Hơi nóng nhanh chóng thấm sâu vào các mô, làm giãn nở cơ bắp
	và dẫn truyền thần kinh mang cảm giác thoải mái, thư giãn lan tỏa khắp cơ thể.
	<br>Đá được sử dụng trong massage là loại đá bazan sinh ra trong dòng nham thạch núi lửa có tác dụng chữa bệnh rất lớn
	như giảm đau, hút độc tố ra khỏi cơ thể. Đá massage núi lửa được mài nhẵn hoặc để nhám và gia công thành nhiều hình
	dạng (oval, tròn), nhiều kích thước phù hợp với viêc massage tại nhiều vị trí trên cơ thể.
	<br>Để tăng cường hiệu quả trong quá trình massage đá nóng, dầu hoặc các loại nến massage có độ trơn sẽ được sử dụng.
	Điều này giúp giảm sự ma xát giữa da và đá đồng thời dầu massage được pha chế từ các nguyên liệu tự nhiên (dầu gạo,
	Olive, dừa…) cũng phát huy tác dụng dưỡng ẩm, nuôi dưỡng làn da.
	<br>Bên cạnh đó để tăng tác dụng thư giãn, kỹ thuật viên sẽ chuẩn bị thêm các loại tinh dầu có mùi hương mà khách yêu
	thích hoặc hỗ trợ trị liệu (tinh dầu oải hương, gừng, bạc hà…)
	<br>Có nhiều dạng massage đá nóng tùy vào từng dịch vụ của Spa như: massage mặt, massage chân, massage toàn thân
	(lưng, cổ, tay, chân)

	<br><b>Massage đá nóng như thế nào?</b>
	<br>Trước khi được massage khách hàng sẽ được làm sạch cơ thể bằng cách ngâm tắm hoặc xông hơi nhằm giúp các lỗ chân
	lông được thông thoáng dễ hấp thu dưỡng chất và đảm bảo vệ sinh.
	<br>Sau khi thoa dầu massage trên khu vực điều trị và đá massage đạt đến nhiệt độ yêu cầu, kỹ thuật viên sẽ thực hiện
	massage đá nóng trực tiếp trên da khách hàng. Một chiếc khăn lớn sẽ được sử dụng để che điểm nhạy cảm trên cơ thể tạo
	sự thoải mái hơn cho khách.

	<br>Đá massage sẽ được đặt tại nhiều vị trí kích thích thư giãn như: đùi, lòng bàn tay/ bàn chân, ngực, mặt (trán, gò
	má), 2 vai, cột sống, xương ức…tạo cảm giác thoải mái tuyệt vời.
	<br>Massage đá nóng vẫn là dịch vụ massage được ưa chuộng nhất hiện nay và các Spa đang cố gắng phát triển nó ngày
	càng hiệu quả hơn. Để tìm hiểu sâu về các loại đá massage, cách thực hiện massage đá nóng cũng như cách mở dịch vụ
	massage đá nóng hiệu quả hãy liên hệ với chúng tôi:
</div>

<div id="invoice" [hidden]="disableList4" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>MASSAGE CỔ TRUYỀN VIỆT NAM</h2>
	Xoa bóp là một tác động kích thích vật lý, trực tiếp trên da thịt, gây ra các hiệu quả vào thần kinh, mạch máu và các
	cơ quan cảm thụ nhằm tạo những thay đổi về thần kinh, thể dịch, nội tiết qua đó nâng cao năng lực hoạt động của hệ
	thần kinh, nâng cao quá trình dinh dưỡng của cơ thể. Xoa bóp làm giãn mạch máu, tăng khả năng tuần hoàn tại chỗ và
	trên hệ tuần hoàn , góp phần chống viêm, giảm phù nề. Luồng máu tới sẽ tăng cường trao đổi chất, mang ôxy tới cho tế
	bào và mang đi các chất thải cặn bã.
	<br>Nhiều người biết đến Massage truyền thống Việt Nam qua các động tác véo, ấn, bấm, xoa bóp nhưng đó chỉ là cách xoa
	bóp thông thường qua những bài học lỏm. Còn thực chất massage truyền thống Việt Nam được hiểu là sự kết hợp tổng hòa
	giữa các phương pháp trị liệu chuyên biệt đã được nhiều thế hệ danh y, thầy thuốc giỏi nghiên cứu và đúc rút kinh
	nghiệm qua nhiều thế hệ và truyền lại cho đời sau.
	<br>Massage truyền thống Việt Nam không đơn giản là là sự tẩm quất, xoa bóp hay tìm kiếm các huyệt đạo trên cơ thể để
	đả thông hay giúp các khí huyết tăng cường vận hành mà phương pháp này còn là sự mở rộng cấu trúc của các động tác
	tiếp xúc theo bản năng, sự phối kết hợp giữa các động tác mang tính đơn độc với các động tác phối hợp. Phương pháp trị
	liệu này sẽ làm cho các cơ bị co cứng lại do lao động hàng ngày giãn ra, mềm mại hơn. Đồng thời tác động vào các huyệt
	đạo giúp kích thích các khí huyết lưu thông, giúp cải thiện máu, đưa các dưỡng chất cùng oxy tới các tế bào và đưa
	những sản phẩm không cần thiết ra khỏi cơ thể.
	<br>Massage truyền thống Việt Nam hỗ trợ rất tốt cho việc điều trị các bệnh về cơ, khớp, đau thần kinh tọa… Đặc biệt
	Massage còn trị rối loạn cảm xúc tâm lý mang đến cho con người một tinh thần thoải mái, ổn định, một cơ thể khỏe mạnh,
	giảm căng thẳng, mệt mỏi do áp lực cuộc sống tạo nên.

	<img src="/assets/tre_hoa_da.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;">
	<br><b>Massage truyền thống Việt Nam trong thời hiện đại có gì mới mẻ?</b>
	<br>Massage truyền thống Việt Nam được xem là phương pháp thư giãn tuyệt vời, một phương pháp chăm sóc sức khỏe hiệu
	quả. So với thời xưa, massage truyền thống Việt Nam thời hiện đại không khác gì ở cách thức trị liệu hay các động tác
	thực hiện mà có khác ở môi trường trải nghiệm.
	<br>Nếu như trước đây, massage truyền thống Việt Nam chỉ đơn thuần là con người nằm trên một phẳng như phản hay
	giường, ghế dài… để người có chuyên môn thực hiện matxa mà không quá quan trọng về không gian. Còn Massage truyền
	thống Việt Nam thời hiện đại chuyên nghiệp hơn, đằng cấp hơn ở việc họ chú trọng xây dựng một không gian massage
	thoáng đãng, yên tĩnh cùng những trang thiết bị hiện đại và có những dịch vụ khác đi kèm với việc massage. Sự khác
	biệt này là sự phát triển và kế thừa khách quan. Khi xã hội đi lên, đời sống của con người hiện đại hơn thì mọi cơ sở
	vật chất hay nhu cầu của con người cũng cao hơn và hướng đến cái gọi là “ăn ngon, mặc đẹp”. Do vậy, các trung tâm
	massage Việt Nam hiện nay đều được xây dựng theo sự hiện đại riêng biệt, mang phong cách riêng.


	<br>Mặc dù vậy, các trung tâm massage Việt Nam hầu hết đều áp dụng những cốt lõi, sự tinh túy của phương pháp trị liệu
	massage truyền thống, massage vật lý trị liệu cổ truyền của cha ông. Thêm vào đó họ kết hợp với các dịch vụ chăm sóc
	sức khỏe và sắc đẹp cho con người bằng các liệu trình xông hơi, ngâm tắm thảo dược, kết hợp với thiền để matxa chữa
	bệnh hay ăn những món ăn thực dưỡng…
</div>

<div id="invoice" [hidden]="disableList5" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>TRẺ HÓA LÀN DA BẰNG CÔNG NGHỆ TẾ BÀO GỐC DR DERMIC</h2>
	<br>- Là công nghệ độc quyền tại Viện thẩm mỹ Jenna Thanh, được nhập khẩu trực tiếp từ Thụy Sĩ.
	<br>- Công nghệ được Hiệp Hội FDA (Hoa Kỳ) kiểm định và xác nhận về độ an toàn cũng như hiệu quả cao.
	<br>- Là công nghệ giúp trẻ hóa da mà không xâm hại đến da, không phẫu thuật.

	<img src="/assets/tre_hoa_da.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;">
	<br>Với cơ chế hoạt động dựa trên quy luật tự nhiên của cơ thể, Dr Demic không gây bất cứ một tổn thương nào trên da.
	Tạo ra vô số các “tổn thương giả mạo”, từ đó đánh lừa cơ thể sản sinh ra một thế hệ tế bào mới giúp nhanh chóng làm
	đầy những “vết thương” ấy.
	<br>Kết hợp với việc đưa một lượng tế bào gốc vào sâu lớp trung bì dưới da. Điều này giúp kích thích da tăng sinh
	collagen và elastin giúp việc tạo thành tế bào gốc được đẩy lên nhanh chóng. Từ đó, làn da của bạn sẽ được “thay mới”
	hoàn toàn bằng một làn da khỏe mạnh và non trẻ hơn, thay thế cho những tế bào bị lão hóa và hư tổn.
	<br><b>Quy trình thực hiện liệu trình tại H&B</b>
	<br>Bước 1: Thăm khám và tư vấn miễn phí
	<br>Bước 2: Vệ sinh da mặt, tẩy tế bào chết
	<br>Bước 3: Ủ tê tầm 30p (nếu khách yêu cầu)
	<br>Bước 4: Tiến thành thực hiện liệu trình
	<br>Bước 5: Thoa kem dưỡng và kem chống nắng
	<br>Bước 6: Kết thúc liệu trình.
	<br><b>Với kinh nghiệm 15 năm trong nghề thẩm mỹ làm đẹp, Jenna Thanh xin cam kết với quý khách:</b>
	<br>- Không sưng, không đau
	<br>- Không tốn thời gian nghỉ dưỡng
	<br>- Có giấy bảo hành
	<br>- Hoàn tiền 100% nếu không hiệu quả
</div>

<div id="invoice" [hidden]="disableList6" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Rạn nứt da</h2>
	Một trong những nỗi lo sợ của chị em sau khi đó chính là ran nứt da, bên cạnh niềm hạnh phúc khi chào đón thành viên
	mới thì chị em phụ nữ không quên được nỗi buồn khi trên người xuất hiện nhiều vết rạn da đặc biệt ở vùng bụng, đùi và
	cánh tay.
	<b>Nguyên nhân hình thành những vết rạn da:</b>
	Những vết rạn da được hình thành trong thời gian mang thai khi trọng lượng cơ thể tăng lên một cách nhanh chóng khiến
	da chưa kịp thích nghi, các sợi collagen, elastin dưới da bị căng giãn sau đó đứt gãy hình thành các rãnh dài và lõm
	xuống tao nên các vết rạn dày đặt trên bề mặt da trông như rễ cây. Các vùng da thường bị rạn nứt da nhất đó là bụng,
	mông, đùi, đầu gối, bắp tay…
	<div>
		<img src="/assets/dakho.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;" class="center">
	</div>
	<b>Quy trình điều trị rạn da</b>
	<br>- Tư vấn - thăm khám
	<br>- Vệ sinh vùng da điều trị
	<br>- Thoa gel lạnh
	<br>- Trị rạn da với công nghệ VMAX4D
	<br>- Vệ sinh da và bôi kem dưỡng
	<br><b>Hiệu quả sau khi trị rạn da với VMAX4D </b>
	<br>- Giúp làm săn chắc da, tăng sinh collagen, chống lão hóa, làm da mượt, mịn màng, trẻ trung hơn.
	<br>- Giảm mỡ, giúp làm thon gọn, săn chắc vùng bụng, mông, đùi, bắp tay,…
	<br>- Cải thiện vùng da bị giãn, nhăn nheo, do sinh đẻ, thu hẹp các vết rạn da sau sinh mà không cần phẫu thuật, xâm
	lấn.
	<br>- Hiệu quả có thể được cải thiện rõ rệt đến 80% chỉ sau lần thực hiện đầu tiên
	<br><b>Các bước thực hiện điều trị rạn da:</b>
	<br>- Thăm khám và tư vấn miễn phí
	<br>- Làm sạch vùng da cần điều trị
	<br>- Tiến hành bôi tê
	<br>- Thực hiện điều trị rạn da bằng Laser CO2 Fractional
	<br>- Thoa kem tái tạo da và kết thúc quy trình.
	<br>Cam kết của H&B đối với quý khách:
	<br>- Không đau rát, không tổn thương da
	<br>- Không cần nghỉ dưỡng
	<br>- Có giấy cam kết
	<br>- Bảo hành dài lâu
	<br>- Hoàn phí 100% nếu không hiệu quả
</div>


<div id="invoice" [hidden]="disableList7" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>THU NHỎ LỖ CHÂN LÔNG</h2>
	Để thu nhỏ lỗ chân lông cần nắm rõ những tác nhân gây ra. Qua đó các nguyên nhân cơ bản: do di truyền, do da bị lão
	hóa, do ảnh hưởng khi da tiếp xúc ánh nắng mặt trời, do mồ hôi khi làm việc, thời tiết nóng hoặc hoạt động thể
	thao,…Do sử dụng các trang điểm, mỹ phẩm, hóa chất ảnh hưởng tiêu cực đến da, do bụi bẩn từ không khí ô nhiễm giúp lỗ
	chân lông phát triển trên da.
	<br><b>các nguyên nhân làm to lỗ chân lông</b>
	<br>Lỗ chân lông to do Di truyền
	<br>- Theo các chuyên gia da liễu, gene là yếu tố quyết định lớn nhất trong việc hình thành kích thước lỗ chân lông.
	Những người có lỗ chân lông lớn thì có các thành viên trong gia đình cũng có lỗ chân lông lớn. Da nhờn, dầu cũng có
	thể khiến lỗ chân lông trên khuôn mặt trông lớn hơn.
	<br>Lỗ chân lông to do Tuổi tác
	<br>- Tuổi tác cũng là một nhân tố quyết định khi nói đến kích thước lỗ chân lông. Khi già đi, da của bạn mất tính đàn
	hồi, căng và chùng, làm cho các lỗ chân lông trên khuôn mặt trông to hơn.
	<br>Lỗ chân lông to do Ánh nắng mặt trời
	<br>- Ánh nắng mặt trời có thể làm dày da, dẫn đến lỗ chân lông lớn hơn. Ánh nắng mặt trời kéo dài theo thời gian cũng
	có thể làm mất dần collagen, elastin và nước trong da, làm kéo giãn các lỗ chân lông nên chúng trông lớn hơn.
	<div>
		<img src="/assets/danong.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;" class="center">
	</div>
	<b>Các cách thu nhỏ lỗ chân lông hiệu quả</b>
	<br>1. Giữ da sạch sẽ
	<br>- Giữ làn da sạch sẽ có thể làm giảm sự xuất hiện của lỗ chân lông. Trang điểm và bụi bẩn sẽ dẫn đến các vấn đề về
	da và khiến lỗ chân lông to. Rửa mặt bằng sữa rửa mặt 2 lần / ngày, tránh tẩy tế bào chết quá nhiều và quá mạnh gây
	kích ứng da.
	<br>2. Tẩy tế bào chết
	<br>- Tẩy tế bào chết giúp ngăn ngừa mụn đầu đen bằng cách loại bỏ các tế bào da chết dẫn đến tắc nghẽn. Hãy chà nhẹ
	nhàng, tẩy 2 lần / tuần để làm sạch lỗ chân lông. Có thể sử dụng muối hoặc đường và một vài thành phần tự nhiên khác
	để đảm bảo an toàn cho da.
	<br>3. Kiểm soát dầu
	<br>- Dư thừa dầu có thể dẫn đến mụn và khiến lỗ chân lông to. Có thể dùng giấy thấm dầu hàng ngày, sử dụng các dung
	dịch rửa mặt không chứa dầu
	<br>4. Sử dụng kem làm giảm lỗ chân lông
	<br>- Các loại kem làm giảm lỗ chân lông là một phần thiết yếu để kiểm soát lỗ chân lông trên khuôn mặt. Những sản
	phẩm này nhằm xóa đi các tế bào dư thừa và giảm kích thước của lỗ chân lông. Hãy tìm kem dưỡng ẩm có chứa thành phần
	tự nhiên, vitamin, retinol để thúc đẩy sản sinh collagen.
	<br>5. Xông hơi
	<br>- Xông hơi là một cách thu nhỏ lỗ chân lông tuyệt vời. Nên xông hơi mặt 1 lần/tuần, nhiệt độ cao sẽ giúp các lỗ
	chân lông mở rộng và da sẽ loại bỏ được độc tố. Nên đắp mặt nạ sau khi xông.
	<br>6. Mặt nạ se khít
	<br>- Đắp mặt nạ 1 hoặc 2 lần/tuần để kiểm soát và giữ cho lỗ chân lông được sạch sẽ.
	<br>7. Gặp bác sĩ da liễu
	<br>- Ghé thăm một spa hoặc gặp bác sĩ da liễu để được điều trị bằng các phương pháp hiện đại và tiên tiến. Chính họ
	sẽ giải đáp một cách chính xác nhất những thắc mắc của bạn, lựa chọn cho bạn chế độ điều trị thích hợp.

</div>

<div id="invoice" [hidden]="disableList8" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Combo dịch vụ xông hơi + xông khô + ngâm bồn</h2>

</div>


<div id="invoice" [hidden]="disableList9" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Massage, gội đầu thư giãn</h2>
	<br>Chăm sóc tóc tại spa là một cách thư giãn, tự thưởng cho bản thân sau một ngày dài làm việc căng thẳng. Với những
	liệu pháp chăm sóc tại Sohee Beauty, tóc của bạn sẽ nhanh chóng lấy lại được vẻ bóng mượt, mềm mại như thuở ban đầu.
	Bên cạnh đó, được hòa mình trong không gian tĩnh lặng, việc massage da đầu trên nền nhạc du dương sẽ làm bạn cảm thấy
	thư thả, thoải mái hơn sau những giờ làm việc mệt mỏi.
	<br><b>Trên da đầu có nhiều huyệt đạo, thần kinh nên việc gội đầu kết hợp massage sẽ có nhiều ích lợi: </b>
	<br>- Cải thiện tuần hoàn máu, ngăn ngừa tóc bạc và rụng tóc.
	<br>- Giảm stress hiệu quả, tăng cường khả năng tư duy, giúp hiệu suất làm việc tốt hơn.
	<br>- Phòng ngừa một số bệnh suy nhược thần kinh, đau đầu, mất ngủ, hay quên,…
	<div>
		<img src="/assets/download.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;" class="center">
	</div>
	<br><b>Quy trình tiến hành nặn mụn tại H&B</b>
	<br>- Gội đầu với dầu gội cao cấp để làm sạch da đầu. Sau đó, xả tóc sạch với nước.
	<br>- Gội lần 2 và massage nhẹ nhàng thư giãn để kích thích máu lưu thông. Xả lại với nước lần nữa.
	<br>- Ủ tóc với tinh dầu, thảo dược thiên nhiên dưỡng ẩm, kết hợp massage nhẹ nhàng bổ sung các dưỡng chất để tóc khỏe
	đẹp, tăng độ đàn hồi.
	<br>- Xả sạch lại tóc, lau bằng khăn khô mềm.
	<br>- Sấy định hình cho tóc.
	<br><b>Ưu điểm chăm sóc tóc tại H&B Spa:</b>
	<br>- Sử dụng các mỹ phẩm cao cấp an toàn cho da và sức khỏe.
	<br>- Kiểm soát dầu nhờn, cân bằng độ ẩm cho da đầu.
	<br>- Bảo vệ da đầu khỏi các tác nhân ô nhiễm, nuôi dưỡng phục hồi tóc từ gốc đến ngọn, cải thiện các hội chứng rụng
	tóc, nấm da đầu, gàu,…
	<br>- Dưỡng chất được thẩm thấu đến tận chân tóc, cho hiệu quả lâu dài, thúc đẩy tóc mọc khỏe hơn.
</div>

<div id="invoice" [hidden]="disableList10" style="display: block; margin-left: auto; margin-right: auto;width: 60%;">
	<h2>Chăm sóc móng</h2>
	<br>Móng tay bóng, khỏe sẽ giúp đôi bàn tay thêm đẹp và quyến rũ, tạo nên nét đẹp hoàn hảo của bạn gái. Hàng ngày,
	móng tay phải tiếp xúc với nhiều hóa chất, thuốc tẩy rửa… từ những sản phẩm làm đẹp hay từ các công việc hàng ngày
	khiến móng nhanh chóng bị ngả màu, mất độ ẩm, giòn, dễ gãy, không còn vẻ đẹp ban đầu.
	<br>H&B Spa mang đến cho bạn gái dịch vụ chăm sóc móng tốt và chuyên nghiệp nhất, sử dụng các sản phẩm cao cấp chiết
	xuất tự nhiên.
	<br>Với đội ngũ kĩ thuật viên chuyên nghiệp, nhiệt tình, chuyên nghiệp chắc chắn các bạn sẽ hài lòng.
	<br>H&B Spa còn tư vấn, chia sẻ tới các bạn những cách chăm sóc móng đơn giản và hiệu quả nhất, giúp bạn gái luôn tự
	tin với vẻ đẹp của mình!
	<div>
		<img src="/assets/viet.jpg" style="display: block; margin-left: auto; margin-right: auto;width: 50%;" class="center">
	</div>

</div>