<div>
  <h2 class="single" itemprop="headline"><b>WEEKDAY MEMBER CARD - Spa Không Giới Hạn </b></h2>
</div>

<h2 style="text-align:center;">
  <span style="font-size:24px; font-family:'Times New Roman', Times, serif">
    <p><br><br><b>🌼Chăm sóc da mặt và Cơ thể 166k/buổi với #Weekday_Member_Card 🌼</b></p>
  </span>
</h2>

<p style="text-align:justify; font-family:'Times New Roman', Times, serif;font-size:20px">
  <img src="../../assets/promotion6.png" style="width: 300px; height:210px" ><br><br><br>
  🌻Chưa bao giờ dịch vụ Spa chất lượng, đẳng cấp mà giá lại quá Tiết Kiệm như vậy!!!🌻<br>
  ------------------<br>
  👉Gói HAPPY: <br>
  🍃7 buổi chăm sóc mặt 4 bước ánh sáng trị giá: 3.500.000VNĐ.<br>
  🍃8 buổi massage body trị giá: 2.800.000 VNĐ.<br>
  ✍️Tổng trị giá là: 6.300.000 VNĐ.<br>
  Nhưng với thẻ Weekday Member Card chỉ còn 3.500.000 vnđ<br>
  <img src="../../assets/promotion10.png" style="width: 300px; height:210px" ><br>
  ------------------<br>
  👉Gói SUPRISE: <br>
🍃10 buổi chăm sóc mặt 4 bước ánh sáng trị giá: 5.000.000VNĐ<br>
🍃10 buổi massage body trị giá: 3.500.000 VNĐ.<br>
✍️Tổng trị giá là: 8.500.000 VNĐ.<br>
Nhưng với thẻ Weekday Member Card chỉ còn 4.500.000VNĐ<br>
<img src="../../assets/promotion11.png" style="width: 300px; height:210px" ><br>
------------------<br>
👉Gói AWESOME: <br>
🍃15 buổi chăm sóc mặt 4 bước ánh sáng trị giá: 7.500.000VNĐ<br>
🍃15 buổi massage body trị giá: 5.250.000 VNĐ.<br>
✍️Tổng trị giá là: 12.750.000 VNĐ.<br>
Nhưng với thẻ Weekday Member Card chỉ còn 5.000.000VNĐ<br>
<img src="../../assets/promotion12.png" style="width: 300px; height:210px" ><br>
------------------<br>
👉Ngoài ra bạn còn được hưởng rất nhiều quyền lợi khác:<br>
– 100% cơ hội bốc thăm 100% trúng thưởng 😍😍😍<br> 
– Sử dụng trên toàn hệ thống của Shi Beauty & Spa😍😍😍<br>
– Sử dụng tất cả các ngày trong tuần (trừ thứ 7, CN)😋😋😋<br>
Chỉ có #99_thẻ dành cho cả 3 cơ sở của H&B Spa hãy nhanh chân đến để nhận khuyến mại nào<br>
</p>
