<div>
  <h2 class="single" itemprop="headline"><b>KHUYẾN MÃI DÀNH CHO SINH VIÊN </b></h2>
</div>

<h2 style="text-align:center;">
  <span style="font-size:24px; font-family:'Times New Roman', Times, serif">
    <p><br><br><b>GIẢM GIÁ 75% TẤT CẢ DỊCH VỤ TRỊ MỤN SINH VIÊN 🎄 🎄 🎄 🎄 🎄<br>
      💝 QUÀ TẶNG HẤP DẪN: tặng VOUCHER TRỊ GIÁ 500K/1 VOUCHER</b></p>
  </span>
</h2>
<p style="text-align:justify; font-family:'Times New Roman', Times, serif;font-size:20px">
  PHƯƠNG PHÁP TRỊ MỤN LẦN ĐẦU TIÊN KẾT HỢP 6 CÔNG NGHỆ TRONG 1.<br>
👉 70-80% GIẢM NHỜN<br>
👉 80% SÁNG DA TỰ NHIÊN<br>
👉 100% HẾT SẠCH MỤN<br>
👉 50% LÀM ĐẦY SẸO LÕM<br>
👉 60% SE KHÍT LỖ CHÂN LÔNG<br>
👉 100% GIẢM THÂM<br>
CAM KẾT TRỊ HẾT MỤN SAU 2 => 6 tuần ( tùy tình trạng bị nặng hay nhẹ)<br>
  
⚡⚡ Điều kiện áp dụng:<br>

Khách hàng được trải nghiệm 1 buổi giá ưu đãi giảm 75% tất cả các dịch vụ trị mụn của Spa khi đem thẻ sinh viên xác nhận với nhân viên<br>
Chương trình chỉ được áp dụng tại Quận 1, TP Hồ Chí Minh<br><br>
</p>
