<div id="single-header">
  <div class="Dark">
    <h1 class="mar" style="margin-top: 67px !important;">Khuyến Mãi</h1>
  </div>
</div>

<div>
  <div class="row justify-content-center" style="padding-top: 40px; padding-bottom: 40px;">

    <div class="col-md-4">

      <a href="/promotion1">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion1.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">MASSSAGE BODY - Liệu pháp thư giãn tinh thần thời hiện
              đại</h4>
            <p class="card-text"> "MASSAGE BODY – LIỆU PHÁP THƯ GIÃN TINH THẦN THỜI HIỆN ĐẠI GIÁ TRẢI NGHIỆM CHỈ #299K
              Cuộc sống bận rộn khiến con người đối mặt với không ít khó khăn và áp lực.
              Tinh thần cũng như cơ thể do chịu..."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion2">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion2.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">COMBO TOÀN THÂN - Chăm sóc da mặt và thư giãn toàn thân</h4>
            <p class="card-text"> " ⚠️⚠️ ĐĂNG KÝ NGAY - NHẬN NGAY ƯU ĐÃI: COMBO TOÀN THÂN - BỘ ĐÔI HOÀN HẢO CHĂM SÓC DA
              MẶT, THƯ GIÃN TOÀN THÂN VỚI
              GIÁ CHỈ 199K <br>
              ⚠️⚠️ ❓ Da chúng ta thường tiếp xúc môi trường ô nhiễm, khói bụi, hóa chất, các mỹ phẩm..."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion3">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion3.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">BODY TẮM TRẮNG - Da trắng nõn nà</h4>
            <p class="card-text"> "⚠️ ⚠️ BODY TẮM TRẮNG - LIỆU PHÁP "GIẢI CỨU" LÀN DA PHÁI ĐẸP⚠️ ⚠️ 💫
              <br> Đăng ký ngay: Trải nghiệm BODY NHẢ NẮNG để có làn da nõn nà, tươi mới lần đầu tiên chỉ với 490K 🎁
              Cùng với
              đó là ưu..."
            </p>
          </div>

        </div>
      </a>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 40px;">

    <div class="col-md-4">

      <a href="/promotion4">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion4.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">BUSY CARD - Thư giãn theo cách bận rộn</h4>
            <p class="card-text"> "Chỉ với 250k (giá gốc 700k) sử dụng bộ đôi dịch vụ massage mặt + body với thẻ
              Busy Card Với sự bận rộn trong cả công việc lẫn gia đình hiện nay,
              nhiều chị em thường không có thời gian để chăm sóc..."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion5">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion5.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">Vui giáng sinh không quên ưu đãi</h4>
            <p class="card-text"> "Trong không khí giáng sinh rộn ràng đang đến,
              H&B Spa xin gửi tới quý khách hàng phiên bản thẻ mệnh giá Giới hạn với giá chỉ 3.500.000 vnđ..."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion6">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion6.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">WEEKDAY MEMBER CARD - Spa Không Giới Hạn</h4>
            <p class="card-text"> "Chăm sóc da mặt và Cơ thể 166k/buổi với #Weekday_Member_Card
              🌼 🌻Chưa bao giờ dịch vụ Spa chất lượng, đẳng cấp mà giá lại quá Tiết Kiệm như vậy!!!
              🌻 ----
              👉Gói HAPPY: 🍃7 buổi chăm sóc mặt 4 bước ánh sáng trị giá: 3.500.000VNĐ. 🍃8 buổi..."
            </p>
          </div>

        </div>
      </a>
    </div>
  </div>

  <div class="row justify-content-center" style="padding-top: 40px; padding-bottom: 40px;">

    <div class="col-md-4">

      <a href="/promotion7">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion7.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">RẠNG NGỜI ĐÓN TẾT</h4>
            <p class="card-text"> "✅ Ưu đãi Đồng giá cho khách hàng mua 2 dịch vụ trở lên

              Cùng H&B Spa tạm biệt cuối năm một cách thật đặc biệt trong tháng 12 này. Mua càng nhiều, giá càng ưu
              đãi.

              Với dịch vụ đa dạng, phong cách phục vụ chuyên nghiệp,..."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion8">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion8.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">Thư giãn trọn vẹn cùng một nửa yêu thương </h4>
            <p class="card-text"> " 💚 THƯ GIÃN TRỌN VẸN CÙNG MỘT NỬA YÊU THƯƠNG 💚
              👉Quà tặng Combo của H&B Spa dành riêng cho các cặp đôi.

              Xua tan những mệt mỏi, căng thẳng, tận hưởng những phút giây thư giãn
              tuyệt vời bên nột nửa của mình ngay tại Sài Gòn là điều nhiều chị em phụ nữ hướng tới vào mỗi cuối tuần
              hay những
              kỳ nghỉ ngắn."
            </p>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4">

      <a href="/promotion9">
        <div class="card">
          <img class="card-img-bottom" src="../../assets/promotion9.png" alt="Card image" style="width:418px; height: 260px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">KHUYẾN MÃI DÀNH CHO SINH VIÊN</h4>
            <p class="card-text"> "Các bạn sinh viên nhanh tay tận dụng ưu đãi khủng đến 75% khi đến sử dụng dịch vụ
              của H&B Spa."
            </p>
          </div>

        </div>
      </a>
    </div>

  </div>
</div>