.darK{
    width: 100%;
    padding: 140px 0 80px 0;
    background: rgba(143,129,112,0.9) 
}

#single-header{
    margin: 0 0 0 0 ;
    text-align: center;
}

.mar{
    margin-bottom:  0 !important;
    margin-top: 0 !important;
    font-weight: 800;
    color: rgb(15, 15, 15);
    font-family: iCielBambola !important;
    font-size: 55px
}

.dark-overlay {
    width: 100%;
    padding: 140px 0 80px 0;
    background: rgba(143, 129, 112, 0.9);
}



.staff {
    margin-bottom: 2%;
    min-height: 250px;
    border: 1px solid #efefef;
}

.staff-inner {
    padding: 20px;
    text-align: justify;
}

.marB0 {
    margin-bottom: 0 !important;
} .row{
    margin: 0px 0px 0px 0px;
}
a{
    text-decoration: none;
    color: black;
}